.kpt-pipeline/
.git/
.gitignore
deployment.yaml
LICENSE
README.md
skaffold.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.kpt-pipeline
